.box {
  background: var(--black);
  border-radius: 50px;
  padding: 30px;
  font: 400 18px Montserrat;
  display: block;
  margin: auto;
}

@mixin input {
  input {
    border-radius: 20px;
    border: 1px solid var(--text-grey);
    padding: 18px 16px;
    height: 55px;
    background: var(--black);
    width: 100%;
    color: var(--text-grey);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
  }
}

@mixin button {
  width: 100%;
  height: 56px;
  font: 600 17px Montserrat;
  padding: 16px auto;
  text-align: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  transition: 0.2s;
  margin-top: 15px;

  &:hover {
    transform: scale(1.02);
    transition: 0.2s;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.input {
  @include input;
}

.button {
  @include button;

  &-action {
    background: var(--orange-action);
  }
}

.error {
  color: var(--error);
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  display: inline-block;
}
.avatar {
  border-radius: 16px;
}
.user {
  &-header {
    span {
      margin-left: 20px;
      font: 700 20px Roboto;
    }
  }
  span {
    margin-left: 20px;
  }
}

.divider {
  border-bottom: 1px solid var(--divider);
  width: 100%;
  margin: 10px auto;
  height: 1px;
}

.flex {
  display: flex;
  &-align-items {
    align-items: center;
  }
  &-column {
    flex-direction: column;
  }
  &-start {
    justify-content: flex-start;
  }
}
.optWImage {
  width: 100%;
  margin: 5px auto 10px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.login {
  &-forgot {
    cursor: pointer;
    color: var(--orange-action);
  }
}
