@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");
@import "./components.scss";

:root {
  box-sizing: border-box;
  --black: #1d1d1d;
  --orange: #fb6b3a;
  --orange-action: #ff4404;
  --text-grey: #afafaf;
  --red-pale: #c57f7f;
  --red: #c00606;
  --error: #ff4242;
  --divider: #414141;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

// body {
//   margin: 0;
//   width: 100%;
// }

.App {
  width: 100%;
  display: block;
}

h2 {
  font-weight: 700;
  font-size: 32px;
}
